﻿
@model ProjectManagementSystemMVC.Models.ProjectTaskViewModel.CreateTaskViewModel
@{
    ViewData["Title"] = "Create Task";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-5">
            <form asp-controller="ProjectTask" asp-action="AddTask" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input id="ProjectId" name="ProjectId" value="@Model.ProjectId" type="hidden" />
                <div class="form-group">
                    <label asp-for="ProjectName"></label>
                    <input asp-for="ProjectName" class="form-control" disabled />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaskName"></label>
                    <input asp-for="TaskName" class="form-control" />
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
                <select id="userId" name="userId" class="form-control" required>
                    <option value="">Select User</option>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.Username</option>
                    }
                </select>
                <button type="submit" class="btn btn-success btn-block mt-4">Create</button>
                <a asp-controller="Project" asp-action="Index" class="btn btn-outline-primary btn-block">Back to List</a>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}