﻿@model ProjectManagementSystemMVC.Models.ProjectTaskViewModel.ProjectTaskDeleteViewModel

@{
    ViewData["Title"] = "Delete Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h5>Are you sure you want to delete this task?</h5>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statuses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statuses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <div class="row">
        <div class="col-sm-5">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                <a asp-action="Index" asp-route-id="@Model.ProjectId" class="btn btn-block btn-outline-primary">Back to List</a>
            </form>
        </div>
    </div>
</div>
