﻿@model ProjectManagementSystemMVC.Models.ProjectTaskViewModel.ProjectTaskEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Task</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId" />
            @if (ViewBag.IsAdmin)
            {
                <div class="form-group">
                    <label asp-for="TaskName" class="control-label"></label>
                    <input asp-for="TaskName" class="form-control" />
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Statuses" class="control-label d-block"></label>
                <select asp-for="Statuses" asp-items="Html.GetEnumSelectList<Domain.Enums.Status>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Statuses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" min="0" max="100" placeholder="Enter progress %" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            @if (!ViewBag.IsDeveloper)
            {
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
            }
            @if (!ViewBag.IsDeveloper)
            {
                <div class="form-group">
                    <label class="control-label">Assign User</label>
                    <select id="userId" name="userId" class="form-control" required>
                        <option selected="selected" value="@Model.Users.SingleOrDefault(x => x.Id == Model.UserId).Id">@Model.Users.SingleOrDefault(x => x.Id == Model.UserId).Username</option>
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.Id">@user.Username</option>
                        }
                    </select>
                </div>
            }
            @if (!ViewBag.IsManager)
            {
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Task description..." rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            }
            <button type="submit" class="btn btn-success btn-block mt-4">Update</button>
            <a asp-action="Index" asp-route-id="@Model.ProjectId" class="btn btn-block btn-outline-primary mt-2">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
