﻿@model ProjectManagementSystemMVC.Models.ProjectTaskViewModel.ProjectTaskIndexViewModel
@{
    ViewData["Title"] = "Tasks";
}

    <div class="container">
        <h2>@ViewData["Title"]</h2>

        <div class="row">
            <div class="col-md-12">
                <section>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>User</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Deadline</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var task in Model.Tasks)
                            {
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.UserName</td>
                                    <td>@task.Status</td>
                                    <td>@task.Progress</td>
                                    <td>@task.Deadline</td>
                                    <td>
                                        @if (ViewBag.CurrentUserId == task.UserId || ViewBag.IsAdmin)
                                        {
                                            <a asp-controller="ProjectTask" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-success">Edit</a>
                                            <a asp-controller="ProjectTask" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger">Delete</a>
                                        }                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>                   
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a asp-controller="ProjectTask" asp-action="AddTask" asp-route-id="@Model.ProjectId" class="btn btn-primary btn-block">Create New Task</a>
                <a asp-controller="Project" asp-action="Index" class="btn btn-outline-primary btn-block">Back to Projects</a>
            </div>
        </div>
    </div>


