﻿
@model ProjectManagementSystemMVC.Models.ProjectViewModels.ProjectDetailViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-5">            
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>Create a new project.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectCode"></label>
                    <input asp-for="ProjectCode" class="form-control" readonly />
                    <span asp-validation-for="ProjectCode" class="text-danger"></span>
                </div>
                <select id="projectManagerId" name="projectManagerId" class="form-control" required>
                    <option value="">Select Manager</option>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.Username</option>
                    }
                </select>
                <button type="submit" class="btn btn-success btn-block mt-4">Create</button>
            </form>            
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}