﻿
@model ProjectManagementSystemMVC.Models.ProjectViewModels.ProjectDeleteViewModel

@{
    ViewData["Title"] = "Delete Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h5>Are you sure you want to delete this project?</h5>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="ProjectName"></label>
                        <input asp-for="ProjectName" class="form-control" readonly />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectCode"></label>
                        <input asp-for="ProjectCode" class="form-control" disabled />
                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                    <a asp-action="Index" class="btn btn-block btn-outline-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>