﻿@model ProjectManagementSystemMVC.Models.ProjectViewModels.ProjectDetailViewModel
@{
    ViewData["Title"] = "Project Details";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <section>
                <h2>@ViewData["Title"]</h2>
                <hr />
                <div class="row">
                    <div class="col">
                        <h5>Project Name: <strong>@Model.ProjectName</strong></h5>
                    </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Task Name</th>
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Progress</th>
                                    <th>Description</th>
                                    <th>Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in Model.Tasks)
                                {
                                    <tr>
                                        <td>@task.TaskName</td>
                                        <td>@task.UserName</td>
                                        <td>@task.Status</td>
                                        <td>@task.Progress</td>
                                        <td>@task.Description</td>
                                        <td>@task.Deadline</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-outline-primary btn-block">Back to List</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}