﻿
@model ProjectManagementSystemMVC.Models.ProjectViewModels.ProjectEditViewModel
@{
    ViewData["Title"] = "Edit Project";
}
<div class="container">    
    <div class="row">
        <div class="col-md-6">
            <section>
                <h2> @ViewData["Title"]</h2>
                <hr />                
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProjectName"></label>
                        <input asp-for="ProjectName" class="form-control" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectCode"></label>
                        <input asp-for="ProjectCode" class="form-control" readonly />
                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                    </div>
                    <select id="projectManagerId" name="projectManagerId" class="form-control" required>
                        <option selected="selected">@Model.CurrentProjectManger</option>
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.Id">@user.Username</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-success btn-block mt-4">Update</button>
                    <a asp-action="Index" class="btn btn-outline-primary btn-block">Back to List</a>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}