﻿@model ProjectManagementSystemMVC.Models.ProjectViewModels.ProjectIndexViewModel
@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <section>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project Code</th>
                            <th class="text-center" style="width: 30%">Actions</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.Projects)
                        {
                            <tr>
                                <td>@project.ProjectName</td>                              
                                <td>@project.ProjectCode</td>                              
                                <td class="text-center">
                                    @if (ViewBag.IsAdmin == true)
                                    {
                                        <a asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-success">Edit</a>
                                        <a asp-controller="ProjectTask" asp-action="Index" asp-route-id="@project.Id" class="btn btn-success">Tasks</a>
                                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id" class="btn btn-success">Details</a>
                                        <a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger">Delete</a>
                                    } else {
                                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id" class="btn btn-success">Details</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="Project" asp-action="Create" class="btn btn-primary">Create New</a>
            </section>
        </div>
    </div>
</div>


