﻿@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystemMVC.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Project" asp-action="Index" title="Projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index" title="Users">Users</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-outline-primary">Logout</button>
                </form>
            </li>
        }
    </ul>
