﻿@model ProjectManagementSystemMVC.Models.UserViewModels.UserDetailViewModel
@{
    ViewData["Title"] = "Add Role";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-5">
            <section>
                <form asp-controller="User" asp-action="AddRole" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input id="UserId" name="UserId" value="@Model.Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" disabled />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <select id="roleName" name="roleName" class="form-control">
                        <option selected="selected">@Model.RoleName</option>
                        @foreach (var role in Model.Roles)
                        {
                            <option value="@role.RoleName">@role.RoleName</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-success btn-block mt-4">Add</button>
                    <a asp-action="Index" class="btn btn-outline-primary btn-block">Back to List</a>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}