﻿@model ProjectManagementSystemMVC.Models.UserViewModels.UserDetailViewModel
@{
    ViewData["Title"] = "Delete User";
}

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h5>Are you sure you want to delete this user?</h5>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />

                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" disabled />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" disabled />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                    <a asp-action="Index" class="btn btn-outline-primary btn-block">Back to List</a>
                </div>
            </div>
        </form>
    </div>