﻿@model IEnumerable<ProjectManagementSystemMVC.Models.UserViewModels.UserDetailViewModel>
@{
    ViewData["Title"] = "Application Users";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <section>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="text-center" style="width: 30%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>@user.RoleName</td>
                                <td class="text-center">
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-success">Edit</a>
                                    <a asp-controller="User" asp-action="AddRole" asp-route-id="@user.Id" class="btn btn-success">Add Role</a>
                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="User" asp-action="Create" class="btn btn-primary">Create New</a>
            </section>
        </div>
    </div>
</div>