﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" style="padding-top: 250px;">
        <div class="col-12">
            <h1 class="text-capitalize text-center font-weight-bold home-title d-block">Project Management System</h1>
            <h5 class="d-block text-center font-weight-bold">David Pantelic</h5>
        </div>
    </div>
 </div>